[Desktop Entry]
Name=BeatSketch
GenericName=BeatSaber Map Maker

Comment=Create BeatSaber Maps by playing them in VR

Type=Application
Categories=Games;Utilities;

Icon=beatsketch
StartupWMClass=beatsketch

Exec=beatsketch-launcher %F
StartupNotify=false
Terminal=false
